# IRIS Backend Configuration

# Server Port
PORT=4000

# MongoDB Connection String
# Leave empty to use Mock DB (db.json)
MONGO_URI=mongodb://localhost:27017/iris_attendance

# ML API URL
ML_API_URL=http://localhost:5000/predict
